# This is a basic workflow to help you get started with Actions

name: Pascal CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Lazarus Environment
      uses: gcarreno/setup-lazarus@v2.2.9
        with:
          lazarus-version: "dist"
      - name: Build The Main Application 
      run: lazbuild ./src/pascord.lpi
